@import '../../global.scss';


.buttons-container{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    .action-btns{

        width: 138px;
        height: 40px;
        border: none;
        color: white;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 25px;
        text-align: center;
        letter-spacing: 0.2em;
        background-color: #6B63B5;
        box-shadow: black;
        box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 64%);
        -webkit-box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 64%);
        -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.64);
        &-left{
            border-radius: 0px 0px 0px 14px;
            border-right: #403B6D solid 1px;
        }
        &-right{
            border-radius: 0px 0px 14px 0px;
            border-left: #403B6D solid 1px;

        }
    }

  
}
.favorites-container{
    position: absolute;
    background: #6B63B5;
    width: 276px;
    height: 315px;
    border-radius: 0 0 12px 12px;
    top: 0;
    right: 40px;
    z-index: 1;
    &-active{
        display: block;
    }
    &-inactive{
        display: none;
    }
}