@import '../../global.scss';
@import '../../mixins.scss';


$gryffindor: #FF0000, #FED482; 
$slytherin: #1C792B, #82E95E; 
$hufflepuff: #FFC700, #FFF388; 
$ravenclaw: #0597B7, #66D1FF; 

.char_card{
    display: flex;
    justify-content: center;
    align-items: center;
    .char_img{
        width: 30%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .img_container{
            width: 80%;
            height: 40%;
            position: relative;
            overflow: hidden;
            border-radius: 50%;
            img{
                width: 100%;
                height: auto;
            }
        }
       
    }
    .Gryffindor{ @include gradient(to left, $gryffindor); }
    .Slytherin{ @include gradient(to left, $slytherin); }
    .Hufflepuff{ @include gradient(to left, $hufflepuff); }
    .Ravenclaw{ @include gradient(to left, $ravenclaw); }
    .char_desc{
        width: 70%;
        height: 100%;
        .desc_container{
            padding: 15px;
            p{
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 27px;
                margin:0;
                padding:0;
            }
            h2{
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 600;
                color: #081F32;
            }
            .card_header{
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 19px;
                color: #999999;
                text-align: left;
            }
        }
    }
}