// Small tablets and large smartphones (landscape view)
$screen-sm-max: 767px;

// Small devices
@mixin sm {
  @media (max-width: #{$screen-sm-max}) {
      @content;
  }
}


@mixin gradient($direction, $list) { 
    background: -webkit-linear-gradient($direction, $list);
    background: -moz-linear-gradient($direction, $list);
    background: -o-linear-gradient($direction, $list);
    background: linear-gradient($direction, $list);  
  }